name: Deploy

on:
    push:
        branches:
            - main

jobs:
    check:
        runs-on: ubuntu-latest
        env:
            HUSKY: 0
            DATABASE_URL: postgresql://user:password@localhost:5432/ci_db?schema=public

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '20'

            - name: Install dependencies
              run: npm install

            - name: ESLint Check
              run: npm run eslint:check

            - name: Prettier Check
              run: npm run prettier:check

            - name: Run Tests
              run: npm test
